#fav {
    -fx-graphic: url('/icons/favoriteoff.png');
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-effect: inherit;
}

#fav:selected {
    -fx-graphic: url('/icons/favoriteon.png');
    -fx-padding: 0;
    -fx-background-color: transparent;
}

#reply {
    -fx-graphic: url('/icons/replyoff.png');
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#retweet {
    -fx-graphic: url('/icons/retweetoff.png');
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#retweet:disabled {
    -fx-graphic: url('/icons/retweeton.png');
    -fx-background-color: transparent;
    -fx-padding: 0;
}

#actions {
    -fx-graphic: url('/icons/actions.png');
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-content-display: graphic-only;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected{
    -fx-background-color: #f1f1f2;
    -fx-border-width: 2px;
    -fx-border-color: #2e639f;
    -fx-border-radius: 4px;
}

